.basemap-image2 {
  position: absolute;
  top: 0;
  left: -2px;
  background-color: var(--color-oldlace-100);
  width: 422px;
  height: 844px;
}
.sf-symbol-scribblevariable24 {
  position: absolute;
  top: calc(50% - 17.5px);
  left: calc(50% - 12.5px);
  width: 25px;
  height: 23px;
}
.label24,
.sf-symbol24 {
  position: absolute;
  font-weight: 500;
}
.sf-symbol24 {
  top: calc(50% - 25.5px);
  left: calc(50% - 19.5px);
  display: none;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}
.label24 {
  top: calc(50% + 10.37px);
  left: calc(50% - 12.5px);
  font-size: var(--font-size-3xs);
  letter-spacing: -0.24px;
  font-family: var(--default-bold-body);
  color: var(--gray-6);
}
.tabbar-item24,
.tabbar-item25,
.tabbar-item26,
.tabbar-item27 {
  position: absolute;
  top: 0;
  left: calc(50% - 185px);
  width: 75px;
  height: 49px;
  display: none;
}
.tabbar-item25,
.tabbar-item26,
.tabbar-item27 {
  left: calc(50% - 87px);
}
.tabbar-item26,
.tabbar-item27 {
  left: calc(50% + 12px);
}
.tabbar-item27 {
  left: calc(50% + 110px);
}
.tabs6 {
  align-self: stretch;
  position: relative;
  background-color: var(--color-darksalmon-100);
  height: 49px;
  overflow: hidden;
  flex-shrink: 0;
}
.home-indicator7 {
  position: absolute;
  bottom: 8px;
  left: calc(50% - 66.5px);
  border-radius: var(--br-81xl);
  background-color: var(--gray-1);
  width: 134px;
  height: 5px;
}
.homeindicator6 {
  position: relative;
  width: 375px;
  height: 34px;
}
.tabbar6 {
  position: absolute;
  top: 221px;
  left: 0;
  background-color: var(--color-darksalmon-200);
  box-shadow: 0-0.5px 0 rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(20px);
  width: 390px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.homeindicator7 {
  position: relative;
  width: 375px;
  height: 34px;
  display: none;
}
.tabbar8 {
  position: absolute;
  top: 219px;
  left: 0;
  background-color: var(--color-darksalmon-200);
  box-shadow: 0-0.5px 0 rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(20px);
  width: 390px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.group-child14 {
  position: absolute;
  top: 257px;
  left: 47px;
  width: 4px;
  height: 4px;
}
.home-icon2,
.icon-globe3 {
  position: absolute;
  height: 7.17%;
  width: 3.31%;
  top: 76.02%;
  right: 79.64%;
  bottom: 16.81%;
  left: 17.04%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.home-icon2 {
  height: 8.22%;
  width: 3.8%;
  top: 75.33%;
  right: 90.57%;
  bottom: 16.45%;
  left: 5.63%;
}
.video2 {
  position: absolute;
  top: 229px;
  left: 185px;
  width: 24px;
  height: 25px;
}
.icon-clock2,
.icon-home,
.icon-person2,
.settings-icon2 {
  position: absolute;
  height: 8.22%;
  width: 3.8%;
  top: 75.33%;
  right: 45.72%;
  bottom: 16.45%;
  left: 50.48%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.icon-clock2,
.icon-home,
.icon-person2 {
  height: 2.83%;
  width: 1.47%;
  top: 177.63%;
  right: -1.47%;
  bottom: -80.46%;
  left: 100%;
}
.icon-clock2,
.icon-person2 {
  height: 6.91%;
  width: 3.19%;
  top: 75.99%;
  right: 68.68%;
  bottom: 17.11%;
  left: 28.13%;
}
.icon-person2 {
  height: 8.08%;
  width: 3.74%;
  top: 75.66%;
  right: 56.27%;
  bottom: 16.26%;
  left: 39.99%;
}
.tabbar-container {
  position: absolute;
  top: 540px;
  left: 0;
  width: 657.69px;
  height: 304px;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--default-systemblue-light);
  font-family: var(--font-sf-pro-display);
}
.map-icon {
  position: absolute;
  top: 292.85px;
  left: 1.04px;
  width: 388.96px;
  height: 191.84px;
}
.collection {
  position: absolute;
  top: 524px;
  left: 33px;
}
.image-4-icon,
.image-5-icon,
.image-6-icon {
  position: absolute;
  top: 611px;
  left: 27px;
  width: 102px;
  height: 102px;
  object-fit: cover;
}
.image-5-icon,
.image-6-icon {
  left: 141px;
}
.image-6-icon {
  left: 255px;
}
.container {
  position: absolute;
  height: 62.8%;
  width: 100%;
  top: 37.2%;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-5xl) var(--br-5xl) 0 0;
  background-color: rgba(255, 229, 202, 0.9);
}
.scroll-indicator-icon {
  position: absolute;
  top: 321px;
  left: 161px;
  width: 68px;
  height: 4px;
}
.museum {
  position: relative;
  letter-spacing: -0.24px;
  font-weight: 500;
}
.label36 {
  border-radius: var(--br-7xs);
  background-color: var(--color-lavender);
  display: flex;
  flex-direction: row;
  padding: var(--padding-9xs) var(--padding-base);
  align-items: center;
  justify-content: flex-start;
}
.div10 {
  position: relative;
  letter-spacing: -0.24px;
  font-weight: 600;
}
.frame-icon {
  position: relative;
  width: 16px;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
}
.parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.minted {
  position: relative;
  font-size: var(--font-size-5xs);
  letter-spacing: -0.24px;
  color: var(--gray-3);
}
.label-review,
.review {
  flex-direction: row;
  align-items: center;
}
.review {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  gap: var(--gap-11xs);
  text-align: left;
  font-size: var(--body-medium-size);
}
.label-review {
  align-self: stretch;
  gap: var(--gap-lgi);
}
.label-review,
.label-review-wrapper,
.titke-price {
  display: flex;
  justify-content: flex-start;
}
.label-review-wrapper {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
}
.titke-price {
  position: absolute;
  top: 382px;
  left: 31px;
  width: 343px;
  flex-direction: row;
  align-items: center;
  text-align: center;
  font-size: var(--font-size-3xs);
  color: var(--primary-brand-2);
  font-family: var(--font-inter);
}
.image-3-icon {
  position: absolute;
  top: 415px;
  left: 90px;
  width: 204px;
  height: 204px;
  object-fit: cover;
}
.detail-of-the {
  align-self: stretch;
  line-height: 22px;
}
.detail-of-the,
.riko {
  position: relative;
}
.frame {
  background-color: var(--color-whitesmoke-100);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: var(--font-size-xs);
  color: var(--color-gray-500);
}
.note,
.palo-de-beato {
  position: absolute;
  font-family: var(--font-inter);
}
.note {
  top: 626px;
  left: 54px;
  border-radius: var(--br-9xs);
  background-color: var(--color-gray-600);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  border: 1px solid var(--color-bisque-100);
  box-sizing: border-box;
  width: 279px;
  height: 168px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: var(--padding-2xl) var(--padding-base) 0;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
  font-size: var(--font-size-base);
  color: var(--color-gray-200);
}
.palo-de-beato {
  top: 338px;
  left: 30px;
  font-weight: 600;
  display: inline-block;
  width: 297px;
  height: 37px;
}
.slash-screen-9-child {
  position: absolute;
  top: 0;
  left: 0;
  width: 390px;
  height: 262px;
}
.notch-icon4 {
  position: absolute;
  top: 0;
  left: calc(50% - 82px);
  width: 164px;
  height: 32px;
}
.div11 {
  position: absolute;
  top: 1px;
  left: 0;
  letter-spacing: -0.41px;
  line-height: 22px;
  font-weight: 600;
  display: inline-block;
  width: 54px;
  height: 20px;
}
.left-side3,
.statusbar-time3 {
  position: absolute;
  width: 54px;
  height: 21px;
}
.statusbar-time3 {
  top: 0;
  left: calc(50% - 27px);
  border-radius: var(--br-5xl);
}
.left-side3 {
  top: 14px;
  left: calc(50% - 168px);
}
.right-side-icon3 {
  position: absolute;
  top: 8px;
  left: calc(50% + 91px);
  width: 77.4px;
  height: 24px;
}
.statusbar-iphone-132 {
  position: absolute;
  top: 0;
  left: 0;
  width: 390px;
  height: 38px;
  overflow: hidden;
  text-align: center;
  font-size: var(--default-bold-body-size);
  color: var(--color-gray-400);
  font-family: var(--default-bold-body);
}
.in-total {
  position: absolute;
  top: 61px;
  left: 33px;
}
.b,
.b1,
.countries,
.of-the-world {
  position: absolute;
  top: 181px;
  left: 94px;
  font-size: var(--body-medium-size);
}
.b,
.b1,
.of-the-world {
  left: 285px;
}
.b,
.b1 {
  top: 140px;
  left: 195px;
  font-size: var(--font-size-29xl);
  color: var(--color-crimson);
}
.b1 {
  left: 36px;
}
.slash-screen-9 {
  position: relative;
  background-color: var(--light-gray-0);
  width: 100%;
  height: 844px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--color-gray-300);
  font-family: var(--title-poppins-large);
}
